@(list: List[String])


@main() {

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Admin Privileges</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="@routes.Login.showProfile(list.head)">Go Back</a></li>
            <li><a href="@routes.HomeController.index">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container" style="font-size:20px;margin-top:30px;">
    <p>
    <div class="container">

    </div>
    @for(l <- list){
    <div class="col-md-5"><strong> @l </strong>
    </div>

    <div class="col-md-7">
        <div class="col-md-2">
            <a href="@routes.AdminController.resume(l)"><button type="submit" class="btn btn-success">Resume</button></a>

            </div>
        <div class="col-md-10">
            <a href="@routes.AdminController.suspend(l)"><button type="submit" class="btn btn-danger">Suspend</button></a>
            </div>

    </div>

    <br><br>
    }
    </div>
}