@(user: Models.User)
@main() {
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Admin Profile</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="@routes.AdminController.manageUsers">Manage Users</a></li>
            <li><a href="@routes.HomeController.index">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="row text-center" style="margin-top:20px; border-radius:5px;">
    <div class="col-md-3" ></div>
    <div class="col-md-6 "style=" background-color:#CD5C5C;border-radius:10px;" ><h2>@user.fname @user.mname @user.lname </h2></div>
    <div class="col-md-3" ></div>
</div>


<div class="row text-center" style="margin-top:20px;">
    <div class="col-md-4" ></div>
    <div class="col-md-4 " style ="background-color:#808080; border-radius:10px;"><h3>@user.uname</h3></div>
    <div class="col-md-4" ></div>
</div>
<div class="row text-center" style="margin-top:20px;">
    <div class="col-md-4" ></div>
    <div class="col-md-4 "style ="background-color:#F08080; border-radius:10px;" ><h3>@user.mobile</h3></div>
    <div class="col-md-4" ></div>
</div>
<div class="row text-center" style="margin-top:20px;">
    <div class="col-md-4" ></div>
    <div class="col-md-4" style ="background-color:#E9967A; border-radius:10px;" ><h3>@user.gender , @user.age</h3></div>
    <div class="col-md-4" ></div>
</div>
<div class="row text-center" style="margin-top:20px;">
    <div class="col-md-4" ></div>
    <div class="col-md-4 "style ="background-color:#FFA07A; border-radius:10px;" ><h3>@user.hobbies</h3></div>
    <div class="col-md-4" ></div>
</div>
}