
@*
* This template takes a single argument, a String containing a
* message to display.
*@
@()


@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main() {
<div class="jumbotron text-center" style="background-color: #f4511e; color: #fff;">
    <h1>Welcome</h1>
    <p>Login/Signup Application</p>
    <form class="form-inline">

            <div class="input-group-btn">
                <a href="signup.scala.html" class="btn btn-danger" role="button">Sign Up</a>-->
                <a href="login.scala.html" class="btn btn-info" role="button">Sign In</a>-->
            </div>
    </form>
</div>


@*
* Get an `Html` object by calling the built-in Play welcome
* template and passing a `String` message.
*@


}
