

@main() {

<div class="container">
    <h2>Create a new account</h2>
    <h5>It's free and always will be.</h5>
    <form class ="userForm" action="@routes.Signup.addPerson()" method="post">
        <div class="form-group">

            <input type="text" class="form-control" placeholder="Firstname" name="fname" required><br>
            <input type="text" class="form-control" placeholder="Middlename" name="mname" ><br>
            <input type="text" class="form-control" placeholder="Lastname" name="lname" required><br>
            <input type="text" class="form-control" placeholder="Select Username" name="uname" required><br>
            <input type="password" class="form-control" placeholder="Enter Password" name="password" required><br>
            <input type="password" class="form-control" placeholder="Re-Enter Password" name="repassword" required><br>
            <input type="number" class="form-control" placeholder="Enter Mobile Number" name="mobile" required><br>

            <div class="form-group row">
                <label class="radio-inline"><input type="radio" name="gender" value="male">Male</label>
                <label class="radio-inline"><input type="radio" name="gender" value="female">Female</label>
            </div><br>
            <input type="number" class="form-control" placeholder="Age (18-75)" id="age" min ="18" max ="75" name="age" required><br>
            <div class="form-group row">
                <label class="checkbox-inline"><input type="checkbox" name="hobbies" value="Tv Shows">Tv Shows</label>
                <label class="checkbox-inline"><input type="checkbox" name="hobbies" value="Sky Diving">Sky Diving</label>
                <label class="checkbox-inline"><input type="checkbox" name="hobbies" value="Reading Novels">Reading Novels</label>
                <label class="checkbox-inline"><input type="checkbox" name="hobbies" value="Movies">Movies</label>
                <label class="checkbox-inline"><input type="checkbox" name="hobbies" value="none">None of mentioned</label>
            </div>

        </div>



        <button type="submit" class="btn btn-success">Create Account</button>
    </form>
</div>

}